<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Item List</title>
</head>
<body>

    <h1>Item List and Costs</h1>

    <table border="1">
        <tr>
            <th>Item</th>
            <th>Cost</th>
        </tr>

        <tr th:each="item : ${items}">
            <td th:text="${item.key}"></td>
            <td th:text="${item.value}"></td>
        </tr>
         <tr>
             <th>Total</th>
             <th th:text="${total}"></th>
         </tr>
    </table>

</body>
</html>